*{
    padding:0%;
    margin: 0%;
    font-family:"initial";
    box-sizing: border-box;
    -moz-box-align: right;
}
.input1{
    
    box-sizing: content-box;
     width:13vw;
     height:5vh;
     margin-top: 0%;
     font-size:100%;
    text-align:left;
     color:black;
     float:center;
     /* padding-left:5%; */
     font-family: 'Cabin', sans-serif;
     border-top: transparent;
     border-left: transparent;
     border-right: transparent;
     border-bottom: 0.00035px solid grey;
     background-color: transparent;
     outline: none;
     padding-left: 1%;
}
.tr{
    margin-top: 25%;
    background-color: aquamarine;
    width: 180px;
     height:150px;
    translate:calc(-50%,-50%);
}