*{
    padding:0%;
    margin: 0%;
    font-family:"initial";
    box-sizing: border-box;
}

.o{
    margin-left: 2vw;
    margin-top: 2vh;
    border-bottom: 1px solid black;
    width: 35vw;
}

h1{
    margin-top: 4vh;
    font-size: 250%;
}

body{
    background-image: url("imgupload/InShot_20230420_172359991.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.container{
    width: 40vw;
    height: 95vh;
    margin-top: 1.8%;
    border-radius: 30px;
    transform: translate(10% 10%);
    background-color: whitesmoke;
}

.container h1{
    font-size: 300%;
    text-align: 20%;
    color: white;

}

input{
    margin-top: 1vh;
    margin-left: 2vw;
    height: 8vh;
    width: 35vw;
    border-radius: 10px;
    border-width: 0.5px;
    font-size: 150%;
    padding-left: 1vw;
}

.input1{
    font-size: 200%;
    color: black;
    margin-left: 2vw;
}
.input2{
    font-size: 200%;
    text-align: 30%;
    color: black;
    margin-left: 2vw;
}
.input3{
    font-size: 200%;
    text-align: 30%;
    margin-left: 2vw;
    color: black;
}
.input4{
    width:20vw;
    font-size: 200%;
    color: white;
    background-color: red;
   
}


.input6{
    background-color:transparent;
     font-family: 'Cabin', sans-serif;
     color:black;
     font-size: 250%;
     margin-top: 5vh;
     padding-left: 2%;
     /* width: 5vw;
     height: 7vh; */
 }

 .input7{
    /* position: absolute; */
    /* border-top: 5px solid grey; */
    /* border-bottom: 5px solid grey; */
    margin-left: 25%;
    width: 100px;
    height: 70px;
    /* left: 100px; */
    /* top: 45px; */
}

.icon-r{
    margin-left: 10%;
    margin-top: 1vh;
    /* height: max-content; */
    font-size: 500%;
}
.icon-l{
    margin-left: 5%;
    margin-top: 1vh;
    /* height: max-content; */
    font-size: 500%;
    /* padding-left: 0%; */
}

.icon-r:hover{
    color: red;
}

.icon-l:hover{
    color: red;
}